body {
  background-color: #777;

  li.prehidden {
    display: none;
  }

  .chat {
    .chat-container {
      max-height: 400px;
      overflow: auto;
      margin-bottom: 10px;
      margin-top: 15px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      border: 1px solid black;

      .chat-box {
        height: 100%;
        margin: -1px;

        .user-message, .admin-message {
          .user, .msg {
            padding: 3px;
          }

          .msg {
            color: black;
            background-color: white;
          }

          .user {
            width: 100px;
            border: 1px solid black;
            color: white;
          }
        }

        .admin-message {
          .msg {
            border: 1px solid black;
            background-color: lightgrey;
          }
        }
      }
    }
  }
}

.content {
  .content-panel {
    margin-top: 10px;
  }
}

.prehidden {
  display: none;
}

.you-are-picker {
  &.prehidden {
    display: none;
  }

  display: block;
  margin: 10px;
  margin-bottom: 0px;

  width: 95%;

  background-color: darkred;
  border: 1px solid black;
  color: white;
  
  padding: 10px;
  padding-left: 20px;

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.card-board {
  .card {
    float: left;
    display: inline-block;
    margin: 10px;
    margin-bottom: 0px;

    width: 146px;
    height: 200px;
    padding: 10px;
    cursor: default;

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;

    &.prehidden {
      display: none;
    }

    .user, .score {
      font-size: 12px;
    }

    .user {
      position: absolute;
      bottom: 10px;
      left: 10px;
    }

    &.white {
      position: relative;
      border: 1px solid #888;
      color: black;
      background-color: white;
      cursor: pointer;

      &.disabled {
        background-color: lightgrey;
        border-color: grey;
        cursor: default;
      }

      &.selected {
        background-color: lightgrey;
        border-color: grey;
        cursor: default;

        .btn {
          display: block;
          position: absolute;
          bottom: 10px;
          width: 123px;
          margin-left: 0px;

          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
        }
      }

      .btn {
        display: none;
      }
    }

    &.player {
      border: 1px solid #888;
      color: black;
      background-color: #EEE;

      width: 200px;
      height: 70px;

      &.picker {
        background-color: black;
        color: white;
      }

      &.self {
        background-color: lightblue;
        color: black;
      }

      &.picker.self {
        background-color: steelblue;
        border-color: darkblue;
        color: white; 
      }

      .kick {
        &.prehidden {
          display: none;
        }

        float: right;
        padding: 2px;
        padding-top: 1px;
        width: 24px;
        height: 24px;
      }
    }

    &.place {
      border: 3px solid darkred;
      background-color: transparent;
    }

    &.selected.top {
      background-color: lightgrey;
      border-color: grey;

      color: black;

      padding: 10px;
      padding-left: 20px;
      display: block;
      width: 95%;
      height: auto;
    }

    &.black {
      &.top {
        padding: 10px;
        padding-left: 20px;
        display: block;
        width: 95%;
        height: auto;
      }

      position: relative;
      width: 170px;
      height: 230px;
      border: 1px solid #888;
      color: white;
      background-color: black;
    }
  }
}