:javascript
  window.firebase = "#{ENV['FIREBASE_ENDPOINT']}"

#game-content
  %ul.nav.nav-tabs{ role: 'tablist' }
    %li
      %a{ data: { toggle: 'tab' }, href: '#board', role: 'tab' } Game Table
    %li.active
      %a{ data: { toggle: 'tab' }, href: '#hand', role: 'tab' } My Hand
    %li
      %a{ data: { toggle: 'tab' }, href: '#users', role: 'tab' } Players

  .tab-content.card-board
    #board.tab-pane
    #hand.tab-pane.active
      .you-are-picker.prehidden You are currently the picker.
      .card.black.top
        #black-card
      #hand-content
    #users.tab-pane

  %script#board-template{ type: 'text/x-handlebars-template' }
    .card.black
      {{selection}}
      .user
        %em {{name}}
    {{#each card}}
    {{#if show_cards}}
    .card.white {{this}}
    {{else}}
    .card.white
    {{/if}}
    {{/each}}
    {{#each places}}
    .card.place
    {{/each}}

  %script#hand-template{ type: 'text/x-handlebars-template' }
    .hand
      {{#each cards}}
      %div{ class: 'card white {{#if ../picker}}disabled{{/if}}', id: '{{@key}}' }
        #card-text
          {{this}}
        .btn.btn-default.btn-sm.use-me{ data: { card: '{{@key}}' } } Use This Card
      {{/each}}

  %script#users-template{ type: 'text/x-handlebars-template' }
    .prehidden.card.player{ id: '{{user}}' }
      {{user}}
      .btn.btn-default.kick.prehidden{ data: { user: '{{user}}' } } x
      .score
        Points:
        %span#points {{points}}
      .score Order: {{order}}

