.text-center
  %p
    = link_to 'Contact Me', 'mailto:zv1n.fire@gmail.com'
    or
    = link_to 'Create an Issue on Github', 'http://www.github.com/zv1n/cards/issues'
    if you have any issues!
  %p
    "Cards Against Humanity" and Logos are Trademarks of
    = link_to 'http://www.cardsagainsthumanity.com' do
      %em Cards Against Humanity LLC
  %p
    Copyright (c) 2014 zv1n