.navbar-header
  %a.navbar-brand{:href => "/"}
    CAHumanity
    %span#game-id
/ - if logged_in?
/   .navbar-collapse.collapse
/     %ul.nav.navbar-nav
/       %li
/         = link_to('Places', places_path)
/   %ul.nav.navbar-nav.navbar-right
/     %li
/       = link_to('ROOT', root_path)
/ /.navbar-collapse
